@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/src/themes/default";

/* .navbar-fixed {
    @apply fixed z-[9999] bg-transparent bg-opacity-0 rounded-full;
    backdrop-filter: blur(4px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2); */
/* } */

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-black;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}

[x-cloak] {
    display: none;
}
